.navbar {
  background: black;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand-text {
  font-size: 22px;
  color: #ccc;
}

.logo {
  width: 45px;
}

.nav-left a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-left a:hover {
  color: #f4b41a;
}

.cart-btn {
  background: #f4b41a;
  color: black;
  padding: 8px 14px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
